@import "/src/scss/colors";
@import "/src/scss/mixins";

.categories {
    display: flex;
}

.category {
    @include boldText(16px, 19px);
    color: $shoeWax;
    padding: 15px 35px;
    background: $doctor;
    border-radius: 30px;
    cursor: pointer;
    &:hover {
        background: $bleachedSilk;
    }
    &.active {
        background: $direWolf;
        color: $white;
    }
}
