@import "/src/scss/colors";
@import "/src/scss/mixins";

.pizza-block__tools {
    width: 100%;
    background: $bleachedSilk;
    padding: 7px 6px;
    border-radius: 10px;
}

.pizza-block__tools-block {
    display: flex;
}

.pizza-block__tools-item {
    width: 100%;
    text-align: center;
    padding: 10px 18px;
    @include boldText(14px, 17px);
    cursor: pointer;
    &.active {
        background: $white;
        border-radius: 5px;
        &:hover {
            background: $white;
        }
    }
    &:hover {
        background: $doctor;
        border-radius: 5px;
    }
}
