$black: #181818;
$orange: #fe5f1e;
$yellow: #ffdf8c;
$orangeOpacity: #fe5f1e0d;
$orangeLight: #fc6c34;
$white: #ffffff;
$whiteLight: #ffffff40;
$namaraGray: #7b7b7b;
$doctor: #f9f9f9;
$bleachedSilk: #f3f3f3;
$wolfram: #b6b6b6;
$cartGray: #8d8d8d;
$buttonGray: #d3d3d3;
$direWolf: #282828;
$luckygrey: #777777;
$shoeWax: #2c2c2c;
