@import "/src/scss/colors";
@import "/src/scss/mixins";

.sort {
    position: relative;
}

.sort__label {
    display: flex;
    align-items: center;
}

.sort__label-icon {
    transform: rotate(-180deg);
    &.rotate {
        transform: rotate(0deg);
    }
}

.sort__label-text {
    @include boldText(14px, 17px);
}

.sort__active-text {
    @include normalText(14px, 16px);
    color: $orange;
    border-bottom: 1px dotted $orange;
}

.sort__popup {
    width: 132px;
    position: absolute;
    top: 30px;
    right: 0px;
    background: $white;
    padding: 13px 0px 9px 0px;
    box-shadow: 0px 5px 15px 0px #00000017;
    border-radius: 10px;
}

.sort__popup-item {
    padding: 10px 14px;
    @include normalText(14px, 17px);
    &.active {
        @include boldText(14px, 17px);
        color: $orange;
        background: $orangeOpacity;
    }
}
